<div class="container">
  <form [formGroup]="formEducation">

    <mat-form-field>
      <input id="education-title" type="text" matInput placeholder="Education Title" formControlName="educationTitle"
        required>

    </mat-form-field>
    <mat-error *ngIf="formEducation.get('educationTitle')?.invalid && formEducation.get('educationTitle')?.touched">
      Education Title is required
    </mat-error>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>
    <mat-error *ngIf="formEducation.get('graduateDate')?.invalid && formEducation.get('graduateDate')?.touched">
      Graduate date is required
    </mat-error>
    <div><mat-form-field class="education-type">
        <select id="education-type" aria-placeholder="Education type" formControlName="educationType" required>
          <option value="bochleor">Bochleor</option>
          <option value="superior">Superior</option>
          <option value="lyceum">Lyceum</option>

        </select>
      </mat-form-field>
    </div>

    <mat-error *ngIf="formEducation.get('educationType')?.invalid && formEducation.get('educationType')?.touched">
      Please choose the type of Education
    </mat-error>

  </form>
</div>