<div class="container">
  <button (click)="addFormEducation()" type="button"  mat-icon-button>
    <mat-icon>+</mat-icon>
  </button> 
  <span>{{"educationForm.addEducation"| translate}}</span>
   
  <form [formGroup]="formEducation">
    <fieldset> 
      <legend>Education Form</legend>
      
      <div formArrayName="educationForms">
        <div *ngFor="let educationForm of educationForms.controls; let i = index" [formGroupName]="i">
          <mat-form-field>
            <input matInput type="text" placeholder='{{"educationForm.educationTitle"| translate}}' formControlName="educationTitle" required>
           <mat-error *ngIf="educationForm.get('educationTitle')?.invalid && educationForm.get('educationTitle')?.touched">
            {{"educationForm.errorEducationTitle"| translate}}
          </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{"educationForm.graduateDate"| translate}}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="graduateDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> 
            <mat-error *ngIf="educationForm.get('graduateDate')?.invalid && educationForm.get('graduateDate')?.touched">
              {{"educationForm.errorGraduateDate"| translate}}
          </mat-error>
          </mat-form-field>
         

          <mat-form-field class="education-type" appearance="fill">
            <mat-select formControlName="educationType" required>
              <mat-option *ngFor="let type of types" [value]="type.value">{{ type.viewValue }}</mat-option>
            </mat-select>
            <mat-error *ngIf="educationForm.get('educationType')?.invalid && educationForm.get('educationType')?.touched">
              {{"educationForm.errorEducationTypes"| translate}}
          </mat-error>
          </mat-form-field>
          
          <button type="button" (click)="removeEducationForm(i)" mat-icon-button><mat-icon>delete_sweep</mat-icon></button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
